GOOSE_DBSTRING="host=localhost user=postgres password=postgres dbname=video-stream sslmode=disable"
GOOSE_DRIVER=postgres
GOOSE_MIGRATION_DIR=./internal/postgres/migrations
PORT=8080
TRANCODE_JOB_NUMBER_OF_WORKERS=2
